.task-container{
  background-color: #fefae0;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  min-height: 200px;
  color: #221f1b;
  font-family: 'Ubuntu', sans-serif;

  .crossed-out {
    text-decoration: line-through;
  }

  h1{
    font-family: 'Pacifico', cursive;
    letter-spacing: 1.5px;
  }

  p{
    font-size: 1.2rem;
    font-weight: 200;
    letter-spacing: 0.5px;
  }


  .task-content-bottom{
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;


    .checkbox-bottom{
      display: flex;
      align-items: flex-end;
      font-size: 1.2rem;
      font-weight: 200;
      letter-spacing: 0.5px;

      .task-done input[type="checkbox"] {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        border: 1px solid #B8C0FF;
        border-radius: 4px;

      }
      .task-done:checked {
        background-color: #B8C0FF !important;
      }

    }

    .trash-icon{
      color: #B8C0FF;
      font-size: 1.3rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      margin-left: 15px;

      &:hover{
        transform: scale(1.2);
      }
    }
  }
}
